body {
    display: flex;
    flex-direction: column;   
    flex-wrap: wrap;
}

.header {
    background: #1f2937;
    display: flex;   
    flex-wrap: wrap; 
    flex-direction: column;
    align-items: center;
    padding: 0 84px 64px 84px;
}

 .box1 {
    display: flex;
   justify-content: space-between;    
    margin-top: 16px; 
}

.box3 {
    display: flex;
    flex-direction: column;    
    width: 1200px
}

.box2 {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}


.logo {
    font-size: 24px;
    color: #f9faf8;
    display:flex;
}

.text {
    font-size: 18px;
    color: #e5e7eb;
}

.modal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    margin-top: 64px;
}

.title{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.image {
    flex-shrink: 0;
}

img {
    max-width: 200px;
    margin-top: 64px;
}


a {
    color:#e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap:24px;
    
}

.sign-up {
    background: royalblue;
    color: white;
    border: 1px solid royalblue;
    margin-top: 8px;
    border-radius: 4px;
    padding: 8px 32px;
    font-size: 16px;
    font-weight: 600;
}

.body1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    gap: 72px;
    margin-bottom: 96px;
}

.main-line {
    
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin-top: 72px;
}

.txt {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: #1f2937;
    max-width: 200px;
    
}

.body2 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
    padding: 64px 100px 64px 100px;
    flex-wrap: wrap;
    
}

.quote-text {
    display: flex;
    font-size: 36px;
    font-style: oblique;
    max-width: 800px;
}

.quote {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    max-width: 800px;
    min-width: 800px;
}

.body3 {
    display: flex;
    padding: 64px 64px;
    justify-content: center;
}

.box {
    display: flex;
    align-items: center;
    background-color: #3882f6;
    border-radius: 4px;
    padding: 32px 100px;
    gap: 100px;
}

.contain {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
}

.bottom {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up2 {
    background: #3882f6;
    color: white;
    border: 1px solid white;
    margin-top: 8px;
    border-radius: 4px;
    padding: 8px 32px;
    font-size: 16px;
    font-weight: 600;
}

.footer{
    text-align: center;
    font-size: 18px;
    color: #e5e7eb;
    background-color: #1f2937;
    padding: 32px;
}